.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardWrapper{
    margin-top: 18px;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}

.wrapper{
    display: flex;
    gap: 40px  !important;
    flex-wrap: wrap;
}

.toggleText{
    cursor: pointer;
    color: var(--color-primary);

}